/*Add your CSS here*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  color: #333;
}

h1 {
  font-size: 96px;
}

h2 {
  font-color: peru;
}

img {
  width: 100%;
  height: auto;
  align: center;
}

.caption {
  font-color: seagreen;
  font-style: light;
  text-align: center;
}








/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
